.menu {
    $self: &;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: $menu-line-height;

    &--vertical {
        width: 100%;
        flex-flow: column nowrap;
        #{$self}__item {
            display: flex;
            flex-flow: row wrap;
        }
        #{$self}__icon {
            margin-right: 1rem;
        }
        #{$self}--submenu {
            padding-left: 1rem;
        }
    }

    &--center {
        justify-content: center;
    }

    &--even {
        width: 100%;
        #{$self}__item {
            flex: 1 0 0px;
            text-align: center;
        }
        #{$self}__anchor {
            justify-content: center;
        }
    }

    &--stretch {
        width: 100%;
        #{$self}__item {
            flex: 1 0 auto;
        }
        #{$self}__anchor {
            justify-content: center;
        }
    }

    &__item {
        display: inline-flex;
    }

    &__anchor {
        cursor: pointer;
        outline: none;
        display: inline-flex;
        align-items: center;
        width: 100%;
        padding: 0.5rem 1rem;
        color: $menu-anchor-color;
        font-size: $menu-anchor-font-size;
        font-weight: $menu-anchor-font-weight;
        text-decoration: none;
        &:hover {
            color: $menu-anchor-hover-color;
        }
    }

    &__icon {
        pointer-events: none;
        user-select: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: $menu-icon-size;
        margin-right: 0.5rem;
    }
    
    &__label {
        pointer-events: none;
    }
}
