$menu-anchor-color: #85c825 !default;
$menu-anchor-hover-color: scale-color($menu-anchor-color, $lightness: +15%) !default;

$menu-anchor-font-size: inherit !default;
$menu-anchor-font-weight: inherit !default;

$menu-anchor-padding: 0.5rem 1rem !default;
$menu-icon-size: inherit !default;
$menu-line-height: inherit !default;
